.social-icons, .social-icons-horizontal {
    padding: 0;
    list-style: none;
}

.social-icons {
    margin: 1em;
}

.social-icons-horizontal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    margin: 0;
}

.social-icons li, .social-icons-horizontal li {
    display: block;
    margin: 0.2em 0;
    position: relative;
    font-size: 1.6em;
}

.social-icons-horizontal li {
    margin: 0;
}

.social-icons i, .social-icons-horizontal i {
    color: #19e1b8;
    position: absolute;
    top: 9px;
    left: 9px;
    transition: all 265ms ease-out;
}

.social-icons a, .social-icons-horizontal a {
    display: inline-block;
    position: relative;
}

.social-icons a:hover::after {
    content: attr(data-label);
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: #e1d5d5;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 0.6em;
}

.social-icons-horizontal a:hover::after {
    content: attr(data-label);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    color: #e1d5d5;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 0.6em;
}

.social-icons a:before, .social-icons-horizontal a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: block;
    background: transparent;
    border: 0px solid #FF0440;
    transition: all 265ms ease-out;
    box-sizing: border-box;
}

.social-icons a:hover:before, .social-icons-horizontal a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
}

.social-icons a:hover i, .social-icons-horizontal a:hover i {
    transform: scale(1.8);
    -ms-transform: scale(1.8);
    -webkit-transform: scale(1.8);
    color: #DC2626;
    background: -webkit-linear-gradient(45deg, #DC2626, #FF0440);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
}
