.hero-background-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  opacity: 0.6;
 
}

.block {
  display: block;
  justify-content: center;
}
