.join-button {
  background-color: #d92a2a;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  transition: all 0.2s ease-in-out;
  outline: none;
}

.join-button:hover {
  background-color: #c42525;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 8px 24px rgba(0, 0, 0, 0.22);
  transform: translateY(-2px);
}

.join-button:active {
  background-color: #b02222;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}
