.unsdg-section {
    background-color: #2a1212;
    padding: 2rem 0;
    color: #e1d5d5;
}

.unsdg-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.unsdg-text {
    flex: 1;
}

.unsdg-text h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.un-main-logo {
    width: 400px;
    height: auto;
}

.unsdg-goals {
    display: flex;
    gap: 0.5rem;
    flex: 1;
    justify-content:left;
}

.goal-card {
    width: 160px;
    height: 160px;
    color: white;
    padding: 0.5rem;
    position: relative;
}

.goal-number {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1;
}

.goal-title {
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 0.25rem;
    line-height: 1.2;
    width: 80%;
}

.goal-card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    z-index: 1;
}

.goal-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    
}

.goal-5 {
    background-color: #e5243b;
}

.goal-11 {
    background-color: #f99d26;
}

.goal-16 {
    background-color: #26bde2;
}
